<div class="container">
  <aside class="col-md-6 col-md-offset-2 ">
    <div class="card">
        <article class="card-body">
          <h2 class="card-title mb-4 mt-1">Sign In</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <label> Email</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email",class: 'form-control' %>
            </div> 
            <div class="form-group">
              <label> Password</label>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password,placeholder: "******", autocomplete: "new-password",class: 'form-control' %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
           
            <div class="form-group">
                <%= f.submit "Sign In",class: "btn btn-primary btn-block" %>
            </div>                                                         
          <%end%>
        </article>
        <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-success'  %>
        <%= link_to "Home", root_path, :class => 'btn btn-default'  %>
    </div>
  </aside>
</div>





